email_from=YOUR_EMAIL_ADDRESS
email_password=YOUR_EMAIL_PASSWORD (ITS DIFFERENT FROOM YOUR EMAIL PASSWORD, GENERATE AN APP PASSWORD FOR THIS)

NOTION_API_KEY=YOUR_NOTION_API_KEY
NOTION_DATABASE_ID=YOUR_NOTION_DATABASE_ID
